form{
    margin-top: 2vh;
    padding: 2vh 2vw;
    width: 90%;
    height: fit-content;
    background-color: #7cbbff20;
    font-size: 0.9em;
}
form input, select{
    margin-left: 2vw;
}

form option{
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#creativity{
    width: 80%;
    margin-top: 2vh;
    display: inline-flex;
    align-items: center;
}
#creativity input{
    text-decoration: none;
    padding: 2vh 4vw;
    width: auto;
	height: 100%;
	appearance: none;
	outline: none;
	cursor: pointer;
	border-radius: 2px;
	color: #000;
	font-size: 14px;
}

#creativity input:checked {
    background-color: #0053ac10;
	color: #0053ac;
}

#creativity input:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
}

form select{
    margin-top: 2vh;
    background:transparent;
    outline: none;
    border: none;
    background-color: #fff;
    width: 30%;
    padding: 1vh 2vw;
}